<div class="navbar-wagon">
  <%= link_to "Airport Lounge Manager", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>

