<h1>Discover our amazings lounges</h1>

<div class="card-list">
  <% @lounges.each do |lounge| %>
    <div class="card lounge-card">
      <div class="card-body">
        <h4 class="card-title"><strong><%= lounge[:name] %></strong></h4>
        <p class="card-text"><%= lounge[:description] %>
        </p>
        <p class="card-text"><strong>$ <%= lounge[:price] %></strong></p>
        <%= link_to "More info", lounge_detail_path(lounge[:id]), class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>


